<div class="w-full flex justify-between">
    <button id="like" class="border border-black p-3 mx-12 rounded-full hover:bg-green-600 ease-in duration-200"><i data-feather="thumbs-up"></i></button>
    <button id="dislike" class="border border-black p-3 mx-12 rounded-full hover:bg-red-600 ease-in duration-200"><i data-feather="thumbs-down"></i></button>
</div>